 a:hover {
   cursor: pointer;
 }

 button:focus, input:focus {
   outline: none;
 }

 html, body {
   scroll-behavior: smooth;
 }

 @media only screen and (max-width: 1200px) {
   html, body {
     margin: 0px;
     padding: 0px;
     width: 100%;
     overflow: hidden;
     overflow-y: scroll;
   }
 }

 .Poppins {
   font-family: 'Poppins', sans-serif;
 }

 .Roboto {
   font-family: 'Roboto', sans-serif;
 }
 @media only screen and (max-width:320px) {
  /* .dropdown_Categories {
    position: absolute;
    left: 35%;
    top: -12%;
    cursor: pointer;
    z-index: 11;
  }
  #navbar_search {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
  } */
  .logo {
    width: 135px;
    margin-bottom: 10px;
  }
  .icon i {
    margin-left: 33px;
    font-size: 20px;
    margin-top: 12px;
    color: #000000;
  }
}

@media only screen and (min-width: 320px) {
  .dropdown_Categories {
    position: absolute;
    left: 37%;
    top: -12%;
    cursor: pointer;
    z-index: 11;
  }
  #navbar_search {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
  }
  .logo {
    width: 135px;
    margin-bottom: 10px;
  }
  .icon i {
    margin-left: 33px;
    font-size: 20px;
    margin-top: 12px;
    color: #000000;
  }
  .counter1{
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 59%;
    left: 21%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
  
  }
  .counter2 {
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 55%;
    left: 40%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px
}
.counter3 {
  width: 20px;
  height: 20px;
  background-color: #e55425;
  position: absolute;
  border-radius: 50%;
  top: 63%;
  left: 60%;
  color: white;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
}
.icon span {
  margin-left: 40px;
  color: #002e42;
  font-weight: 600;
  font-size: 17px;
}
}
@media only screen and (min-width: 360px) {
  
  .dropdown_Categories {
    position: absolute;
    left: 45%;
    top: -12%;
    cursor: pointer;
    z-index: 11;
  }
  #navbar_search {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    padding-top: 10px;
  }
  .logo {
    width: 135px;
    margin-bottom: 10px;
  }
 
  .counter1{
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 59%;
    left: 19%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
  
  }
  .counter2 {
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 53%;
    left: 35%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px
}
.counter3 {
  width: 20px;
  height: 20px;
  background-color: #e55425;
  position: absolute;
  border-radius: 50%;
  top: 63%;
  left:53%;
  color: white;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
}
.icon span {
  margin-left: 78px;
  color: #002e42;
  font-weight: 600;
  font-size: 17px;
}
} 
@media only screen and (min-width: 375px) {
 
} 
@media only screen and (min-width: 411px) {
  .dropdown_Categories {
    position: absolute;
    left: 52%;
    top: -12%;
    cursor: pointer;
    z-index: 11;
  }
  .counter1{
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 59%;
    left: 16%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
  
  }
  .counter2 {
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 55%;
    left: 31%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px
}
.counter3 {
  width: 20px;
  height: 20px;
  background-color: #e55425;
  position: absolute;
  border-radius: 50%;
  top: 63%;
  left:46%;
  color: white;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
}
.icon span {
  margin-left: 130px;
  color: #002e42;
  font-weight: 600;
  font-size: 17px;
}
} 

@media only screen and (min-width: 768px) {
  .dropdown_Categories {
    position: absolute;
    left: 50%;
    top: -12%;
    cursor: pointer;
    z-index: 11;
  }
  .icon i {
    margin-left: 22px;
    font-size: 20px;
    margin-top: 12px;
    color: #000000;
  }
 
  .counter1{
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 39%;
    left: 26%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
  
  }
  .counter2 {
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 37%;
    left: 51%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px
}
.counter3 {
  width: 20px;
  height: 20px;
  background-color: #e55425;
  position: absolute;
  border-radius: 50%;
  top: 41%;
  left: 76%;
  color: #f4f4f4;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
}
.icon span {
  margin-left: 64px;
  color: #002e42;
  font-weight: 600;
  font-size: 17px;
}


} 


@media only screen and (min-width: 992px) {
  
} 

@media only screen and (min-width: 1024px) {
  .dropdown_Categories {
    position: absolute;
    left:62%;
    top: -12%;
    cursor: pointer;
    z-index: 11;
  }
  .counter1{
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 57%;
    left: 20%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
  
  }
  .counter2 {
    width: 20px;
    height: 20px;
    background-color: #f4f4f4;
    position: absolute;
    border-radius: 50%;
    top: 57%;
    left: 37%;
    color: black;
    text-align: center;
    font-size: 11px;
    padding-top: 3px
}
.counter3 {
  width: 20px;
  height: 20px;
  background-color: #e55425;
  position: absolute;
  border-radius: 50%;
  top: 57%;
  left: 57%;
  color: #f4f4f4;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
}
.icon span {
  margin-left: 32px;
  color: #002e42;
  font-weight: 600;
  font-size: 17px;
}
}
@media only screen and (min-width: 1200px) {
  .dropdown_Categories {
    position: absolute;
    left: 71%;
    top: -12%;
    cursor: pointer;
    z-index: 11;
  }
  #navbar_search {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    padding-top: 25px;
  }
  .icon i {
    margin-left: 33px;
    font-size: 20px;
    margin-top: 12px;
    color: #000000;
  }
 .counter1 {
  width: 20px;
  height: 20px;
  background-color: #f4f4f4;
  position: absolute;
  border-radius: 50%;
  top: 58%;
  left: 18%;
  color: black;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
}

.counter2 {
  width: 20px;
  height: 20px;
  background-color: #f4f4f4;
  position: absolute;
  border-radius: 50%;
  top: 57%;
  left: 35%;
  color: black;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
}


.counter3 {
  width: 20px;
  height: 20px;
  background-color: #e55425;
  position: absolute;
  border-radius: 50%;
  top: 61%;
    left: 53%;
  color: white;
  text-align: center;
  font-size: 11px;
  padding-top: 3px;
}
.icon span {
  margin-left: 42px;
  color: #002e42;
  font-weight: 600;
  font-size: 17px;
}
}
@media(max-width:600px){
  .top h3 {
    font-size: 12px;
    font-weight: 500;
    color: #6e7d86;
    cursor: pointer;
    margin-top: 15px;
    padding-left: 12px;

}

.dropdown h3 {
  font-size: 12px;
  font-weight: 500;
  color: #6e6e6e;
  cursor: pointer;
  margin-top: 15px;
}
  
}

@media(min-width:600px){
.top h3 {
    font-size: 14px;
    font-weight: 500;
    color: #6e7d86;
    cursor: pointer;
    margin-top: 15px;
    padding-left: 36px;
  }
  .dropdown h3 {
    font-size: 14px;
    font-weight: 500;
    color: #6e6e6e;
    cursor: pointer;
    margin-top: 15px;
  }
}
  
@media only screen and (max-width: 767px) {
  .Tagline{
    display: inline-flex;
  }
}
  .headerbar{
    display: inline-flex;
  }


 #header {
   background-color: #f4f4f4;
   width: 100%;
   height: fit-content;
 }

 .dropdown {
   display: inline-flex;
   float: left;
 }

 .top {
   display: inline-flex;
   
 }

 .dropdown select {
   border: none;
   background-color: transparent;
   outline: none;
   margin: 11px;
 }


 #navbar_search input {
   /* width: 100%;*/
   height: 45px;
   border-radius: 4px;
   border: 1px solid rgb(184, 184, 184);
 }

 #navbar_search input:focus {
   border: 1px solid rgba(4, 50, 70, 1);
   transition: .4s ease all;
 }

 /* ::placeholder {
   font-weight: 500;
   color: #5f5f5f;
 } */

 .search, .search:focus {
   background: rgba(3, 30, 43, 1);
   background: -moz-linear-gradient(-45deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(3, 30, 43, 1)), color-stop(14%, rgba(3, 30, 43, 1)), color-stop(100%, rgba(53, 128, 130, 1)));
   background: -webkit-linear-gradient(-45deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   background: -o-linear-gradient(-45deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   background: -ms-linear-gradient(-45deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   background: linear-gradient(135deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031e2b', endColorstr='#358082', GradientType=1);
   outline: none;
   height: 45px;
   width: 45px;
   /*color: white;
   height: 40px;
   position: absolute;
   left: 95%;
   top: 0%;
   font-size: 19px;
   padding: 10px; */
 }

 .search i {
   color: white;
 }

 

 .dropdown_Categories h3 {
   font-size: 15px;
   font-weight: 500;
   color: #000000;
   background-color: white;
 }

 .dropdown_Categories h3 span {
   display: block;
   font-size: 12px;
 }

 .dropdown_Categories h3 span:first-child {
   position: absolute;
   left: 106%;
   top: 39%;
 }

 .dropdown_Categories h3 span:nth-child(2) {
   position: absolute;
   left: 106%;
   top: 60%;
 }

 .counter1:hover{
  color: white;
  background-color: #dd6b45;
  transition: .4s ease all;
}
.counter2:hover{
  color: white;
  background-color: #dd6b45;
  transition: .4s ease all;
}
.counter3:hover{
  color: #dd6b45;
  background-color: #f4f4f4;
  transition: .4s ease all;
}

 .Tagline h3 {
   color: #002e42;
   font-weight: 600;
   font-size: 14px;
   margin-top: 17px;
   opacity: 1;
 }
 .Tagline_h3{
opacity: 0;
 }

 .navbar-header .navbar-toggle .icon-bar {
   background-color: #fff;
 }

 .navbar-header .navbar-toggle .icon-bar {
   background-color: #fff;
 }

 .navbar-collapse.collapse {
   padding-left: 0;
 }

 .navbar-toggle {
   background-color: #e55425;
   margin-top: 10px;
   margin-right: 0px;
   margin-left: 19px;
 }

 .navbar-collapse.collapse {
   padding-left: 0;
 }

 .Top_nav {
   width: 100%;
   height: fit-content;
   /* position: fixed; */
   z-index: 10;
   margin-bottom: 12px;
   transition: top 0.5s;
   background-color: rgb(255, 255, 255);
   
 }
 .navbar_search{
  width: 100%;
  height: fit-content;
  /* position: fixed; */
  z-index: 10;
  transition: top 0.5s;
  background-color: rgb(255, 255, 255);
 }
 .Top_nav ul {
   list-style-type: none;
   /* margin: 0 2% auto 0; */
   padding-left: 0;
   text-align: right;
   max-width: 100%;
  
 }

 .ul2 li a {
   display: block;
   color: rgba(2, 24, 34, 1);
   text-align: center;
   /*padding: 19px 62px;*/
   margin-right: 62px;
   text-decoration: none;
   font-size: 14px;
   font-weight: 500;
   background: white;
 }

 .ul2 li a:hover {
   color: #e55425;
   transition: .4s ease all;
 }

 .ul2 li a:focus {
   color: #e55425;
 }

 .ul2 li a:first-child {
   padding-left: 0px;
 }

 .fixed-header {
   position: fixed;
   top: -50px;
   background-color: white;
   -webkit-transition: all .4s ease-in-out;
 -moz-transition: all .4s ease-in-out;
 -o-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
 }
 .fixed-header1 {
  position: fixed;
  top: 0px;
  background-color: white;
  -webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
box-shadow:0px -12px 20px 0px #000000;
}

 /* .logo_fix {
  position: fixed;
  z-index: 3;
  top: 0;
  background: white;

 } */
 .fix_logo{
  opacity: 0;
 height: 0px;
 position: absolute;
 top: -50px;
 margin-left: -70px;
 }
 .fixed-logo{
   opacity: 1;
   width: 155px;
   height: 45px;
 position: fixed;
 top: 3px;
 left: 120px;
 z-index: 2;
 background-color: white;
 margin-left: -70px;
 -webkit-transition: all 0.4s ease-in-out;
 -moz-transition: all 0.4s ease-in-out;
 -o-transition: all 0.4s ease-in-out;
 transition: all 0.4s ease-in-out;
 }

 

 nav i {
   margin-top: 16px;
   font-size: 18px;
   color: black;
 }

 .link {
   position: relative;
 }

 .link:after {
   content: '';
   position: absolute;
   width: 0;
   height: 1px;
   display: block;
   margin-top: 0px;
   right: 0;
   border-bottom: 1px solid rgba(2, 24, 34, 1);
   transition: width 0.4s ease;
   -webkit-transition: width 0.4s ease;
 }

 .link:hover:after {
   width: 100%;
   left: 0;
   border-bottom: 1px solid #e55425;
 }

 .background {
   background-image: url(../Images/sliderimage.png);
   height: 713px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .background h4 {
   color: white;
   font-size: 16px;
   margin-left: 20px;
   font-weight: 300;
   margin-top: 15px;
 }

 .background h3 {
   color: white;
   margin-top: 50%;
   font-size: 42px;
   margin-left: 20px;
   font-weight: 700;
 }

 .background button {
   color: black;
   margin-left: 20px;
   background-color: white;
   border: 0px;
   width: 30%;
   height: 42px;
   border-radius: 4px;
   font-weight: 500;
   font-size: 15px;
   margin-top: 10px;
 }

 .background button:hover {
   background: rgba(3, 30, 43, 1);
   transition: .4s ease all;
   color: white;
 }

 .owl-theme .owl-nav.disabled+.owl-dots {
   position: absolute;
   top: 92%;
   left: 83%;
 }

 .owl-theme .owl-dots .owl-dot span {
   background-color: white;
   width: 6px;
   height: 6px;
   margin: 5px 5px;
 }

 .owl-theme .owl-dots .owl-dot span:hover {
   background-color: #e55425;
 }

 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
   background-color: #e55425;
 }

 .heading {
   background-color: #e55425;
   color: white;
 }

 .heading h3 {
   margin-top: 0px;
   margin-left: 36px;
   padding-top: 15px;
   padding-bottom: 15px;
   font-size: 19px;
   font-weight: 400;
 }

 #accordion .panel {
   border-radius: 0;
   border: 0;
   margin-top: 0px;
 }

 #accordion a {
   display: block;
   padding: 20px 35px;
   border-bottom: 1px solid #f8f7f7;
   border-top: 1px solid #f8f7f7;
   text-decoration: none;
   font-size: 15px;
 }

 .font {
   float: left;
   font-weight: 500;
 }

 .conbine {
   margin-bottom: 15px;
 }

 .panel-group {
   margin-top: -10px;
 }

 /* #accordion {
  box-shadow: 0 0px 12px rgb(240, 239, 239);
} */

 #accordion .panel-heading a.collapsed:hover, #accordion .panel-heading a.collapsed:focus {
   background-color: #f0eeee;
   color: #e55425;
   transition: all 0.2s ease-in;
 }

 #accordion .panel-heading a.collapsed:hover::before, #accordion .panel-heading a.collapsed:focus::before {
   color: #e55425;
 }

 #accordion .panel-heading {
   padding: 0;
   border-radius: 0px;
   text-align: center;
 }

 #accordion .panel-heading a:not(.collapsed) {
   color: #e55425;
   background-color: #ffffff;
   transition: all 0.2s ease-in;
 }

 /* Add Indicator fontawesome icon to the left */

 #accordion .panel-heading .accordion-toggle::before {
   font-family: 'FontAwesome';
   content: '\f068';
   float: right;
   color: #e55425;
   font-weight: lighter;
   transform: rotate(0deg);
   transition: all 0.2s ease-in;
 }

 #accordion .panel-heading .accordion-toggle.collapsed::before {
   color: rgb(126, 126, 126);
   content: '\f00d';
   transform: rotate(-135deg);
   transition: all 0.2s ease-in;
 }

 .accordion-toggle img {
   float: left;
 }

 .divwidth ul li {
   list-style-type: none;
   cursor: pointer;
 }

 .divwidth ul {
   margin-bottom: 0px;
 }

 /* .conbine h6 {
   background-color: #002e42;
   color: white;
   width: 30px;
   position: absolute;
   left: 23%;
   top: 119px;
   border-radius: 3px;
   padding: 2px;
   font-size: 11px;
   font-weight: 400;
   <h6 class="Roboto">NEW</h6>
 } */

 .img {
   height: 600px;
   margin-left: 40px;
   margin-top: 25px;
 }

 .color {
   color: white;
   text-align: end;
   margin-top: 65px;
   margin-left: 30%;
 }

 .color h6 {
   font-size: 16px;
   font-weight: 300;
 }

 .color h2 {
   font-size: 76px;
   background-color: #e55425;
   text-align: center;
   padding: 18px 0px;
   font-weight: 500;
 }

 .color h5 {
   font-size: 20px;
   font-weight: 300;
   margin-top: 16px;
 }

 .color button {
   color: rgb(0, 31, 48);
   width: 32%;
   height: 48px;
   border-radius: 4px;
   background-color: white;
   border: transparent;
   font-weight: 700;
   margin-top: 10px;
 }

 .color button:hover {
   background-color: #e55425;
   transition: .4s ease all;
   color: white;
 }

 /* .conbine h5 {
  background-color:#e55425;
  color: white;
  width: 30px;
  position: absolute;
  left: 27%;
  top: 460px;
  border-radius: 3px;
  padding: 2px;
  font-size: 11px;
  font-weight: 400;
  <h5 class="Roboto">HOT</h5>
} */

 .background_color {
   background: rgba(3, 30, 43, 1);
   background: -moz-linear-gradient(-45deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(3, 30, 43, 1)), color-stop(14%, rgba(3, 30, 43, 1)), color-stop(100%, rgba(53, 128, 130, 1)));
   background: -webkit-linear-gradient(-45deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   background: -o-linear-gradient(-45deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   background: -ms-linear-gradient(-45deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   background: linear-gradient(135deg, rgba(3, 30, 43, 1) 0%, rgba(3, 30, 43, 1) 14%, rgba(53, 128, 130, 1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031e2b', endColorstr='#358082', GradientType=1);
   height: 380px;
   margin-top: 25px;
   width: 23%;
   padding-right: 30px;
   padding-left: 22px;
 }

 .background_color h5 {
   color: white;
   margin-top: 50px;
   font-weight: 400;
   font-size: 17px;
 }

 .background_color p {
   color: #8f9497;
   margin-top: 15px;
   line-height: 26px;
   font-weight: 300;
   font-size: 12px;
   text-align: justify;
 }

 .background_color input {
   height: 48px;
   border-radius: 6px;
   border: 0px;
   width: 100%;
   margin-top: 16px;
 }

 .background_color button {
   background-color: #e55425;
   color: white;
   width: 100%;
   margin-top: 7px;
   border-radius: 6px;
   height: 48px;
   font-weight: 500;
   font-size: 14px;
 }

 .background_color button:hover {
   background-color: #e46d45;
   color: white;
 }

 .background_color button:focus {
   outline: none;
   background-color: #e55425;
   color: white;
 }

 .background_color button i {
   float: left;
   font-size: 16px;
 }

 .vertical_line {
   width: 2px;
   height: 48px;
   background-color: #ffffff;
   position: absolute;
   left: 21%;
   top: 72%;
 }

 .Subscribe_line {
   width: 44%;
   height: 2px;
   background-color: #ff7c2b;
   margin-top: 13px;
 }

 .img1 {
   background-image: url(../Images/watch.png);
   width: 486px;
   height: 385px;
   margin-top: 24px;
   margin-left: 22px;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .img2 {
   background-image: url(../Images/handset.png);
   width: 484px;
   height: 385px;
   margin-top: 22px;
   margin-left: 46px;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .img1 div {
   margin-left: 25px;
 }

 .img1 h5 {
   color: #f3f5f6;
   font-size: 28px;
   font-weight: 600;
   margin-top: 46px;
 }

 .img1 h6 {
   color: #fbfbfb;
   font-size: 17px;
   font-weight: 600;
 }

 .img1 li {
   list-style-type: none;
   color: rgb(190, 190, 190);
   font-size: 10px;
   font-weight: 500;
   margin-top: 7px;
 }

 .img1 li a {
   color: #e55425;
   font-size: 9px;
   margin-right: 12px;
 }

 .img1 button {
   color: #e55425;
   background-color: white;
   border: 0px;
   font-size: 11px;
   font-weight: 600;
   height: 28px;
   border-radius: 3px;
   margin-top: 20px;
   padding: 5px 10px;
 }

 .img1 button:hover {
   background-color: #002e42;
   color: white;
   transition: .4s ease all;
 }

 .img2 div {
   margin-left: 25px;
 }

 .img2 h5 {
   color: #f3f5f6;
   font-size: 28px;
   font-weight: 600;
   margin-top: 46px;
 }

 .img2 h6 {
   color: #fbfbfb;
   font-size: 17px;
   font-weight: 600;
 }

 .img2 li {
   list-style-type: none;
   color: rgb(190, 190, 190);
   ;
   font-size: 10px;
   font-weight: 500;
   margin-top: 7px;
 }

 .img2 li a {
   color: #e55425;
   font-size: 9px;
   margin-right: 12px;
 }

 .img2 button {
   color: #e55425;
   background-color: white;
   border: 0px;
   font-size: 11px;
   font-weight: 600;
   height: 28px;
   border-radius: 3px;
   margin-top: 20px;
   padding: 5px 10px;
 }

 .img2 button:hover {
   background-color: #002e42;
   color: white;
   transition: .4s ease all;
 }

 .Feature_product h6 {
   font-size: 17px;
   font-weight: 500;
   color: rgb(83, 83, 83);
 }

 .colored_line {
   width: 29%;
   height: 1px;
   background-color: #ff7c2b;
   margin-top: 5px;
 }

 .grey_line {
   width: 88%;
   height: 1px;
   background-color: #e2e2e2;
   margin-top: 5px;
 }

 .box1 {
   background-image: url(../Images/watch1.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 110px;
   height: 115px;
 }

 .box2 {
   background-image: url(../Images/person5.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 110px;
   height: 115px;
 }

 .box3 {
   background-image: url(../Images/person6.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 110px;
   height: 115px;
 }

 .Feature_product p {
   font-size: 12px;
   font-weight: 300;
   margin-bottom: 5px;
 }

 .checked {
   color: #ffc926;
   font-size: 12px;
 }

 .unchecked {
   color: #eeeeee;
   font-size: 12px;
 }

 .Feature_product h5 {
   font-size: 16px;
   font-weight: 500;
   color: black;
   margin-top: 5px;
 }

 .Feature_product h5 span {
   text-decoration: line-through;
   color: #adadad;
   font-size: 13px;
 }

 .Arrivals {
   padding: 0px;
 }

 .Arrivals h5 {
   font-size: 16px;
   font-weight: 500;
   color: #444444;
 }

 .Arrivals_line {
   width: 10%;
   height: 2px;
   background-color: #ff7c2b;
   margin-top: 11px;
 }

 .product_display {
   height: 380px;
   border: 1px solid #e1e1e1;
   margin-top: 25px;
   padding: 0px;
   width: fit-content;
   margin-right: 25px;
 }

 .product_display h1 {
   background-color: #e46d45;
   color: white;
   position: absolute;
   font-size: 10px;
   left: -3px;
   height: 24px;
   width: 40px;
   text-align: center;
   padding-top: 6px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   top: -3%;
   font-weight: 200;
 }

 .product_display h2 {
   background-color: #002e42;
   color: white;
   position: absolute;
   font-size: 10px;
   right: -3px;
   height: 24px;
   width: 40px;
   text-align: center;
   padding-top: 6px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   top: -3%;
   font-weight: 200;
 }

 .product_display a .searchicon {
   position: absolute;
   background-color: white;
   width: 35px;
   height: 35px;
   top: 41%;
   padding: 10px;
   color: black;
   border-radius: 5px;
   /* visibility: hidden; */
   opacity: 0;
   right: 0px;
 }

 .product_display:hover a .searchicon {
   /* visibility: visible; */
   opacity: 1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   right: 9%;
   /*  background-color: white;
   transition: width 400ms; */
 }

 .product_display a .searchicon:hover {
   color: red;
 }

 .product_display a .heart {
   right: 0px;
   position: absolute;
   background-color: white;
   width: 35px;
   height: 35px;
   top: 52%;
   padding: 10px;
   color: black;
   border-radius: 5px;
   opacity: 0;
   /* visibility: hidden; */
 }

 .product_display:hover a .heart {
   /* visibility: visible;
   background-color: white;
   transition: width 400ms; */
   opacity: 1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   right: 9%;
 }

 .product_display a .heart:hover {
   color: red;
 }

 .product_display:hover {
   border: 1px solid #e55425;
   transition: .4s ease all;
 }

 .product_display:hover .white_box button {
   background-color: #e55425;
   color: white;
   transition: .4s ease all;
 }

 .product_display:hover .white_box h4 {
   color: #e46d45;
   transition: .4s ease all;
 }

 .product_display img {
   width: 215px;
 }

 .white_box {
   width: 226px;
   height: 121px;
   background-color: #ffffff;
   position: absolute;
   top: 68%;
 }

 .white_box h6 {
   text-align: center;
   font-size: 13px;
   font-weight: 500;
   margin-top: 20px;
   margin-bottom: 7px;
 }

 .white_box h4 {
   display: inline;
   margin-left: 13px;
   color: #002e42;
   font-size: 15px;
   font-weight: 600;
 }

 .white_box span {
   float: right;
   margin-top: 3px;
 }

 .white_box span:nth-child(3) {
   margin-right: 13px;
 }

 .white_box h4 span {
   text-decoration: line-through;
 }

 .white_box button {
   display: block;
   height: 38px;
   width: 180px;
   margin-left: 24px;
   margin-top: 15px;
   border-radius: 5px;
   background-color: #eeeeee;
   font-size: 12px;
   font-weight: 600;
 }

 .white_box button i {
   float: left;
 }

 .vertical_line_addtocart {
   width: 1px;
   height: 38px;
   background-color: #ffffff;
   position: absolute;
   left: 27%;
   top: 63%;
 }

 .btn1 {
   background-color: #eeeeee;
   width: 35px;
   height: 35px;
   border-radius: 3px;
   color: #878787;
   padding-top: 9px;
   position: absolute;
   top: -5%;
   left: 90%;
   font-size: 13px;
 }

 .btn2 {
   background-color: #eeeeee;
   width: 35px;
   height: 35px;
   border-radius: 3px;
   color: #878787;
   padding-top: 9px;
   position: absolute;
   top: -5%;
   left: 94%;
   font-size: 13px;
 }

 .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
   color: #ff7c2b;
   cursor: default;
   background-color: transparent;
   border: 0px;
   border-bottom-color: transparent;
 }

 .nav-tabs {
   border-bottom: 0px;
 }

 .nav>li>a {
   list-style-type: none;
   display: inline;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   color: #a9a9a9;
   padding: 0px;
 }

 .nav>li>a:hover {
   background-color: transparent;
   border: 0px;
   color: #ff7c2b;
 }

 .Trending_Items_color_line {
   width: 91%;
   height: 1px;
   background-color: #e2e2e2;
 }

 .Trending_Items_line {
   width: 11%;
   height: 1px;
   background-color: #ff7c2b;
 }

 .Trending_Items ul {
   padding: 0px;
   margin-bottom: 3px;
 }

 .Trending_Items ul>:first-child {
   font-size: 16px;
   font-weight: 600;
   color: #666666;
 }

 /* .Trending_Items ul li {
   list-style-type: none;
   display: inline;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
   color: #a9a9a9;
 } */

 .Trending_Items_box {
   width: 200px;
   height: 240px;
   border: 2px solid #ebebeb;
   border-radius: 4px;
 }

 .Trending_Items_box:hover {
   border: 2px solid #ff873e;
   transition: .4s ease all;
 }

 .Trending_Items_box:hover {
   background-color: #f5f5f5;
 }

 /* .Trending_Items_box:hover .grey_box{
  width: 196px;
  height: 236px;
margin-top: 0px;
transition: .4s ease all;
border-radius: 4px;
}
.Trending_Items_box:hover .grey_box img{
  margin-top: 37px;
} */

 .grey_box {
   width: 196px;
   height: 130px;
   background-color: #f5f5f5;
   margin-top: 15px;
   /* background-image: url(../Images/printer.png);
  background-repeat: no-repeat;
  background-size: cover; */
 }

 .grey_box .exchangeicon {
   position: absolute;
   background-color: white;
   width: 35px;
   height: 35px;
   top: 30%;
   padding: 10px;
   color: black;
   border-radius: 30px;
   left: 5%;
   opacity: 0;
 }

 .Trending_Items_box:hover a .exchangeicon {
   opacity: 1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   left: 14%;
 }

 .Trending_Items_box a .exchangeicon:hover {
   color: red;
 }

 .grey_box .heart {
   font-size: 15px;
   left: 5%;
   position: absolute;
   background-color: white;
   width: 35px;
   height: 35px;
   top: 10%;
   padding: 10px;
   color: black;
   border-radius: 30px;
   opacity: 0;
 }

 .Trending_Items_box:hover a .heart {
   opacity: 1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   left: 14%;
 }

 .Trending_Items_box a .heart:hover {
   color: red;
 }

 .grey_box .Trending_Items_img1 {
   margin-left: 26px;
   margin-top: 22px;
   width: 75%;
 }

 .grey_box .Trending_Items_img2 {
   margin-left: 49px;
   margin-top: 11px;
   width: 50%;
 }

 .grey_box .Trending_Items_img3 {
   margin-left: 20px;
   margin-top: 40px;
   width: 84%;
 }

 .grey_box .Trending_Items_img4 {
   margin-left: 15px;
   margin-top: 17px;
   width: 82%;
 }

 .grey_box .Trending_Items_img5 {
   margin-left: 58px;
   margin-top: 16px;
   width: 41%;
 }

 .Trending_Items_box a .Add_to_cart {
   font-size: 14px;
   font-weight: 600;
   color: #ff873e;
   left: 31%;
   position: absolute;
   opacity: 0;
   top: 68%;
 }

 .Trending_Items_box:hover a .Add_to_cart {
   opacity: 1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
 }

 .Trending_Items_box h4 {
   text-align: center;
   margin-top: 18px;
   font-size: 15px;
   font-weight: 600;
   color: #002e42;
   opacity: 1;
   cursor: pointer;
 }

 .Trending_Items_box:hover h4 {
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }

 .Trending_Items_box h5 {
   text-align: center;
   font-size: 13px;
   font-weight: 600;
   color: #8d8d8d;
 }

 .Trending_Items_box h3 {
   text-align: center;
   font-size: 13px;
   font-weight: 600;
   color: #8d8d8d;
   margin-top: -8px;
 }

 .today_deals {
   margin-bottom: 50px;
   width: 100%;
   height: 585px;
   padding-top: 75px;
   background-color: #fbfbfb;
   width: 100%;
 }

 .detail_product ul>:first-child {
   font-size: 16px;
   font-weight: 600;
   color: #666666;
 }

 .left_side {
   display: inline-flex;
 }

 .left_grey_box {
   width: 82px;
   height: 110px;
   background-color: #eeeeee;
   margin-top: 15px;
 }

 .left_grey_box img {
   margin-left: 6px;
   margin-top: 25px;
   width: 85%;
 }

 .left_grey_box .image {
   margin-top: 33px;
   width: 105%;
   margin-left: 6px;
 }

 .left_white_box {
   width: 135px;
   height: 110px;
   background-color: #ffffff;
   margin-top: 15px;
   border: 1px solid #eeeeee;
 }

 .left_white_box h5 {
   font-size: 14px;
   font-weight: 600;
   color: #e55425;
   margin-left: 12px;
   margin-bottom: 4px;
   margin-top: 15px;
 }

 .left_white_box p {
   font-size: 11px;
   font-weight: 600;
   color: #a1a1a1;
   margin-left: 12px;
   margin-bottom: 0px
 }

 .left_white_box span {
   font-size: 11px;
 }

 .left_white_box .digit {
   margin-left: 3px;
   font-size: 9px;
   font-weight: 700;
 }

 .mid_white_box {
   width: 77%;
   height: 360px;
   background-color: white;
   margin-top: 15px;
   margin-left: 33px;
 }

 /* .img_box {
   width: 63%;
   height: 70%;
   background-color: #eeeeee;
 } */

 .img_box img {
   width: 81%;
   margin: 5px
 }

 #exzoom {
   width: 270px;
   height: 250px;
 }

 .exzoom .exzoom_btn a {
   border: 0px;
   height: 60px;
   line-height: 60px;
   background: transparent;
   font-size: 28px;
   color: black;
 }

 .exzoom .exzoom_btn a.exzoom_next_btn {
   right: -8px;
 }

 .exzoom .exzoom_btn a:hover {
   color: white;
   background-color: #e55425;
 }

 .exzoom .exzoom_nav .exzoom_nav_inner span {
   width: 55px;
   height: 50px;
 }

 .exzoom .exzoom_nav .exzoom_nav_inner span.current {
   background-color: #eeeeee;
 }

 .exzoom .exzoom_nav {
   left: -5px;
   margin-top: 15px;
 }

 .hidden {
   display: none;
 }

 .product_detail {
   margin-left: 18px;
 }

 .product_detail h3 {
   color: #e55425;
   font-size: 17px;
   font-weight: 500;
   margin-bottom: 6px;
 }

 .product_detail h4 {
   font-size: 10px;
   font-weight: 500;
   text-align: left;
   margin-top: 0px;
   margin-bottom: 8px;
   color: #949494;
 }

 .product_detail ul li {
   list-style-type: none;
   font-size: 10px;
   font-weight: 500;
   letter-spacing: 1px;
   color: #aaaaaa;
 }

 .product_detail span {
   font-size: 11px;
   margin-bottom: 14px;
 }

 .product_detail .digit {
   font-size: 9px;
   font-weight: 700;
 }

 .product_detail ul {
   padding: 0px;
 }

 .product_detail button {
   background-color: #e55425;
   border: 0px;
   border-radius: 5px;
   height: 42px;
   color: white;
   width: 100%;
   margin-top: 15px;
   font-size: 14px;
   font-weight: 400;
 }

 .product_detail button:hover {
   background-color: #dd6b45;
 }

 .small_box {
   width: 60px;
   height: 47px;
   border: 1px solid #bebebe;
   background: #ffffff;
   margin-left: 11px;
 }

 .small_box:hover {
   border: 1px solid #ff0000;
 }

 .small_box:focus {
   background-color: #eeeeee;
 }

 .small_box img {
   width: 69%;
   margin: 7px;
 }

 .mid_white_box .products_parts {
   display: inline-flex;
   margin-top: 20px;
 }

 .products_parts a i {
   font-size: 40px;
   margin-left: 25px;
   color: black;
   margin-top: 3px;
 }

 #Best_deller_products {
   margin-bottom: 100px;
 }

 .Best_Products h2 {
   font-size: 21px;
   font-weight: 400;
 }

 .Best_Products h2 span {
   font-size: 21px;
   font-weight: 600;
 }

 .Best_Products_color_line {
   width: 92%;
   height: 1px;
   background-color: #e2e2e2;
 }

 .Best_Products_line {
   width: 20%;
   height: 1px;
   background-color: #ff7c2b;
 }

 .Best_seller_products {
   padding: 0px;
   margin-top: 35px;
 }

 .Best_seller_box {
   width: 170px;
   height: 240px;
   border: 2px solid #cdcdcd;
   border-radius: 5px;
 }

 .Best_seller_grey_box {
   width: 166px;
   height: 130px;
   background-color: #f5f5f5;
   margin-top: 15px;
 }

 .Best_seller_box:hover .Best_seller_grey_box {
   background-color: #f5f5f5;
   width: 146px;
   margin-left: 10px;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
 }

 .Best_seller_box:hover {
   border: 2px solid #ff873e;
   transition: .4s ease all;
 }

 .Best_seller_box:hover {
   background-color: #ebebeb;
 }

 .Best_seller_grey_box .Best_seller_img1 {
   margin-left: 46px;
   margin-top: 10px;
   width: 46%;
 }

 .Best_seller_grey_box .Best_seller_img2 {
   margin-left: 28px;
   margin-top: 17px;
   width: 74%;
 }

 .Best_seller_grey_box .Best_seller_img3 {
   margin-left: 33px;
   margin-top: 11px;
   width: 62%;
 }

 .Best_seller_grey_box .Best_seller_img4 {
   margin-left: 42px;
   margin-top: 5px;
   width: 51%;
 }

 .Best_seller_grey_box .Best_seller_img5 {
   margin-left: 34px;
   margin-top: 8px;
   width: 60%;
 }

 .Best_seller_grey_box .Best_seller_img6 {
   margin-left: 50px;
   margin-top: 4px;
   width: 47%;
 }

 .Best_seller_grey_box .exchangeicon {
   position: absolute;
   background-color: white;
   width: 35px;
   height: 35px;
   top: 30%;
   padding: 10px;
   color: black;
   border-radius: 30px;
   left: 5%;
   opacity: 0;
 }

 .Best_seller_box:hover a .exchangeicon {
   opacity: 1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   left: 14%;
 }

 .Best_seller_box a .exchangeicon:hover {
   color: red;
 }

 .Best_seller_grey_box .heart {
   font-size: 15px;
   left: 5%;
   position: absolute;
   background-color: white;
   width: 35px;
   height: 35px;
   top: 10%;
   padding: 10px;
   color: black;
   border-radius: 30px;
   opacity: 0;
 }

 .Best_seller_box:hover a .heart {
   opacity: 1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   left: 14%;
 }

 .Best_seller_box a .heart:hover {
   color: red;
 }

 .Best_seller_box a .Add_to_cart {
   font-size: 13px;
   font-weight: 600;
   color: #002e42;
   left: 18%;
   position: absolute;
   opacity: 0;
   top: 68%;
 }

 .Best_seller_box:hover a .Add_to_cart {
   opacity: 1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
 }

 .Best_seller_box h4 {
   margin-left: 7px;
   margin-top: 18px;
   font-size: 14px;
   font-weight: 600;
   color: #002e42;
   opacity: 1;
   cursor: pointer;
 }

 .Best_seller_box span {
   opacity: 1;
 }

 .Best_seller_box:hover span {
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }

 .Best_seller_box:hover h4 {
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }

 .Best_seller_box span {
   display: inline;
 }

 .Best_seller_box h5 {
   text-align: center;
   font-size: 13px;
   font-weight: 600;
   color: #6a6a6a;
 }

 .Best_seller_box h3 {
   text-align: center;
   font-size: 13px;
   font-weight: 600;
   color: #6a6a6a;
   margin-top: -8px;
 }

 .money_back {
   height: 60px;
   background-color: #3f3f3f;
   display: inline-flex;
 }

 .money_back img {
   width: 7%;
   height: 54%;
   margin-left: 100px;
   margin-top: 13px;
 }

 .money_back h5 {
   color: rgb(216, 214, 214);
   font-size: 10px;
   font-weight: 500;
   text-align: center;
   margin-top: 18px;
   margin-bottom: 0px;
   margin-left: 28px;
 }

 .money_back h6 {
   color: rgb(216, 214, 214);
   font-size: 9px;
   font-weight: 300;
   text-align: center;
   margin-top: 32px;
   margin-left: -127px;
 }

 .free_shopping {
   height: 60px;
   background-color: #e55425;
   display: inline-flex;
 }

 .free_shopping img {
   width: 7%;
   height: 54%;
   margin-left: 100px;
   margin-top: 13px;
 }

 .free_shopping h5 {
   color: rgb(236, 236, 236);
   font-size: 10px;
   font-weight: 500;
   text-align: center;
   margin-top: 18px;
   margin-bottom: 0px;
   margin-left: 28px;
 }

 .free_shopping h6 {
   color: rgb(236, 236, 236);
   font-size: 9px;
   font-weight: 300;
   text-align: center;
   margin-top: 32px;
   margin-left: -122px;
 }

 .online_support {
   height: 60px;
   background-color: #002e42;
   display: inline-flex;
 }

 .online_support img {
   width: 7%;
   height: 54%;
   margin-left: 100px;
   margin-top: 13px;
 }

 .online_support h5 {
   color: rgb(224, 224, 224);
   font-size: 10px;
   font-weight: 500;
   text-align: center;
   margin-top: 18px;
   margin-bottom: 0px;
   margin-left: 28px;
 }

 .online_support h6 {
   color: rgb(224, 224, 224);
   font-size: 9px;
   font-weight: 300;
   text-align: center;
   margin-top: 32px;
   margin-left: -102px;
   ;
 }

 .link {
   background-color: #f5f5f5;
   padding-bottom: 45px;
 }

 .link_section1 {
   padding: 0px;
 }

 .link_section1 h6 {
   margin-top: 35px;
   font-size: 17px;
 }

 .link_section1 h6 span {
   font-weight: 700;
 }

 .link_section1 h5 {
   color: #8a8787;
   margin-top: 12px;
   margin-bottom: 6px;
 }

 .link_section1 p {
   font-size: 11px;
   color: #9c9b9b;
   font-weight: 500;
   margin-bottom: 20px;
 }

 .link_section1 p span {
   color: #dd6b45;
   font-weight: 600;
 }

 .link_section1 a {
   color: #c4c4c4;
   font-size: 17px;
   margin-left: 10px;
 }

 .link_section1 a:hover {
   color: #dd6b45;
   transition: .4s ease all;
 }

 .link_section2 h4 {
   font-size: 13px;
   font-weight: 600;
 }

 .link_section2 ul li {
   list-style-type: none;
   font-size: 12px;
   font-weight: 500;
   margin-top: 8px;
   cursor: pointer;
 }

 .link_section2 ul li a {
   color: #878787;
 }

 .link_section2 ul li a:hover {
   text-decoration: none;
 }

 .link_section2 ul {
   margin-top: 35px;
   padding: 0px;
 }

 .link_section3 h4 {
   font-size: 13px;
   font-weight: 600;
 }

 .link_section3 ul li {
   list-style-type: none;
   font-size: 12px;
   font-weight: 500;
   margin-top: 8px;
   cursor: pointer;
 }

 .link_section3 ul li a {
   color: #878787;
 }

 .link_section3 ul li a:hover {
   text-decoration: none;
 }

 .link_section3 ul {
   margin-top: 35px;
   padding: 0px;
 }

 .link_section3 ul:first-child {
   margin-top: 35px;
 }

 .pay_box {
   height: 26px;
   width: 52px;
   background-color: #f7f7f7;
   margin-top: 25px;
   border-radius: 5px;
   border: 0px;
   margin-left: 14px;
   border: 1px solid #d8d8d8;
 }

 .pay_box img {
   width: 90%;
 }

 #footer h6 {
   margin-top: 32px;
   color: #949494;
   font-size: 12px;
   letter-spacing: 1px;
 }

 #footer h5 {
   margin-top: 32px;
   color: #949494;
   font-size: 13px;
 }

 #footer a {
   color: #6e6e6e;
   margin-top: 21px;
   margin-left: 20px;
   font-size: 20px;
 }

 #footer a:hover {
   color: #dd6b45;
   transition: .4s ease all;
 }

 .owl-carousel .owl-item .Best_seller_grey_box .Best_seller_img1 {
   width: 46%;
   display: initial;
 }

 .owl-carousel .owl-item .Best_seller_grey_box .Best_seller_img2 {
   margin-left: 28px;
   margin-top: 17px;
   width: 74%;
   display: initial;
 }

 .owl-carousel .owl-item .Best_seller_grey_box .Best_seller_img3 {
   margin-left: 33px;
   margin-top: 11px;
   width: 62%;
   display: initial;
 }

 .owl-carousel .owl-item .Best_seller_grey_box .Best_seller_img4 {
   margin-left: 42px;
   margin-top: 5px;
   width: 51%;
   display: initial;
 }

 .owl-carousel .owl-item .Best_seller_grey_box .Best_seller_img5 {
   margin-left: 34px;
   margin-top: 8px;
   width: 60%;
 }

 .owl-carousel .owl-item .Best_seller_grey_box .Best_seller_img6 {
   margin-left: 50px;
   margin-top: 4px;
   width: 47%;
   display: initial;
 }

 .owl-carousel.owl-drag .owl-item {
   width: 185.8px;
 }